 @use '../../../shared/appStyleVariables.scss' as *;

 .login-container {
  display: flex; justify-content: center; align-items: center;
   height: 100vh; background: #f5f7fa;
    background: linear-gradient(135deg, $secondary-900 0%, $secondary-800 50%, $primary-900 100%);
}
    .login-card { background: white; padding: 2rem; border-radius: 1rem; width: 100%; max-width: 400px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }
    input { width: 100%; padding: 0.75rem; margin-bottom: 1rem; border: 1px solid #ccc; border-radius: 0.5rem; }
    button { width: 100%; background: #c49a6c; color: white;
       border: none; padding: 0.75rem; border-radius: 0.5rem; cursor: pointer; }
       a{
  cursor: pointer;
}

